In [92]:
import pandas as pd
dataset = pd.read_csv('insurance_pre.csv')

In [93]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [94]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [95]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [96]:
independent_variable=dataset[['age','bmi','children','sex_male','smoker_yes']]

In [97]:
dependent_variable=dataset[['charges']]

In [98]:
independent_variable

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [99]:
dependent_variable

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
X_train,X_test,y_train,y_test = train_test_split(independent_variable,dependent_variable,random_state=0, test_size = 0.3)

In [102]:
from sklearn.linear_model import LinearRegression

In [103]:
regressor = LinearRegression()

In [104]:
regressor.fit(X_train,y_train)

LinearRegression()

In [105]:
regressor.coef_

array([[  257.8006705 ,   321.06004271,   469.58113407,   -41.74825718,
        23418.6671912 ]])

In [106]:
regressor.intercept_

array([-12057.244846])

In [107]:
y_pred = regressor.predict(X_test)

In [108]:
from sklearn.metrics import r2_score

In [109]:
r_score = r2_score(y_test,y_pred)

In [110]:
r_score

0.7894790349867009

In [111]:
import pickle
filename='LinearRegression_insurance.sav'
output = pickle.dump(regressor,open(filename,'wb'))

In [112]:
loaded_model = pickle.load(open(filename,'rb'))

In [114]:
result =loaded_model.predict([[19,27.900,0,0,1]])

C:\Users\rajes\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [116]:
result

array([[25217.21027614]])