In [31]:
import  pandas as pd

In [32]:
dataset = pd.read_csv('CKD.csv')

In [33]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [34]:
dataset = pd.get_dummies(dataset,drop_first = True)

In [35]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [36]:
indep = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dep= dataset[['classification_yes']]

In [37]:
from sklearn.model_selection import train_test_split
X_train,x_test,y_train,y_test = train_test_split(indep,dep,random_state=0,test_size=1/3)

In [38]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV
param_grid = {'criterion':['gini','entropy'],
              'splitter':['best','random'],
              'max_features':['sqrt','log2'],
             'class_weight':['balanced']}
DC=DecisionTreeClassifier()
grid = GridSearchCV(DC,param_grid,verbose=3,cv=5,n_jobs=-1,refit=True,scoring='f1_weighted')
grid.fit(X_train,y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'class_weight': ['balanced'],
                         'criterion': ['gini', 'entropy'],
                         'max_features': ['sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [39]:
y_pred = grid.predict(x_test)

In [40]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)

In [41]:
from sklearn.metrics import classification_report
clf_report = classification_report(y_test,y_pred)

In [42]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.94      0.98      0.96        51
           1       0.99      0.96      0.98        82

    accuracy                           0.97       133
   macro avg       0.97      0.97      0.97       133
weighted avg       0.97      0.97      0.97       133

In [43]:
from sklearn.metrics import f1_score
score = f1_score(y_test,y_pred,average='weighted')
print('best params and f1 score',grid.best_params_,score)

best params and f1 score {'class_weight': 'balanced', 'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'} 0.9700283472213296

In [44]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9719033955045432

In [45]:
# age=int(input("Enter the number"))
# bp=float(input("Enter the value"))
# al=int(input("Enter the value"))
# su=input("Enter the value")
# bgr=float(input("Enter the value"))
# bu=float(input("Enter the value"))
# sc=float(input("Enter the value"))
# sod=float(input("Enter the value"))
# pot=float(input("Enter the value"))
# hrmo=float(input("Enter the value"))
# pcv=float(input("Enter the value"))
# wc=float(input("Enter the value"))
# rc=float(input("Enter the value"))
# sg_b=input("Enter the value a/b/c/d")
# sg_c=input("Enter the value a/b/c/d")
# sg_d=input("Enter the value a/b/c/d")
# sg_e=input("Enter the value a/b/c/d")
# rbc_normal=input("Enter the normal/abnormal")
# pc_normal=input("Enter the normal/abnormal")
# pcc_present=input("Enter the present/notpresent")
# ba_present=input("Enter the present/notpresent")
# htn_yes=input("Enter the value yes/no")
# dm_yes=input("Enter the value yes/no")
# cad_yes=input("Enter the value yes/no")
# appet_yes=input("Enter the value yes/poor")
# pe_yes=input("Enter the value yes/poor")
# ane_yes=input("Enter the value no/yes")

In [46]:
age=2
bp=76.45994832
al=3
su=0
bgr=148.1126761
bu=57.48210526
sc=3.077356021
sod=137.528754
pot=4.62724359
hrmo=12.51815562
pcv=38.86890244
wc=8408.191126
rc=4.705597015
sg_b=0
sg_c=1
sg_d=0
sg_e=0
rbc_normal=1
pc_normal=0
pcc_present=0
ba_present=0
htn_yes=0
dm_yes=0
cad_yes=0
appet_yes=1
pe_yes=1
ane_yes=0

In [47]:
input_dataset =[[age, bp, al, su, bgr, bu, sc, sod, pot, hrmo, pcv,
       wc, rc, sg_b, sg_c, sg_d, sg_e, rbc_normal, pc_normal,
       pcc_present, ba_present, htn_yes, dm_yes, cad_yes,
       appet_yes, pe_yes, ane_yes]]

In [48]:
input_dataset

[[2,
  76.45994832,
  3,
  0,
  148.1126761,
  57.48210526,
  3.077356021,
  137.528754,
  4.62724359,
  12.51815562,
  38.86890244,
  8408.191126,
  4.705597015,
  0,
  1,
  0,
  0,
  1,
  0,
  0,
  0,
  0,
  0,
  0,
  1,
  1,
  0]]

In [49]:
result = grid.predict(input_dataset)

C:\Users\rajes\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [50]:
print(result)

[1]